# Dependencies
/node_modules
/.pnpm-store

# Next.js build output
/.next/
/out/

# Production builds
/build
dist

# Environment variables
.env*.local
.env

# Debug & Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS Files
.DS_Store
*.pem

# TypeScript cache
*.tsbuildinfo
next-env.d.ts

